extends layout

block content
  h1= title
    - let image_names = [alaskan.jpg,akita.jpg,american_leopard_hound.jpg,corgi.jpg,pug.jpg]
  - for(let i=0;i<3;i++){
      - let item = Math.floor(Math.random()*5);
      - let value = image_names[item];
      img(src=`/images/${value}` alt=`${value}` style='height:300px; width:300px') 
  - }